#cart-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #EAEDED;
}

#main-cart-block {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1500px;
    margin-top: 60px;
}

#shopping-cart-div {
    width: 100%;
    height: auto;
    margin-right: 20px;
    background-color: white;
    padding: 20px;
}

.cart-item-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 248px;
    background-color: white;
    padding: 24px 0 12px;
}

#checkout-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 342px;
    height: 110px;
    padding: 20px 20px 15px ;
    background-color: white;
}

#checkout-text-header {
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 36px;
}

#proceed-to-checkout-button {
    width: 100%;
    height: 31px;
    border-style: none;
    border-radius: 25px;
    background-color: #FCD200;
    box-shadow: 0 2px 5px 0 hsla(180, 5%, 84%, .5);
}

#proceed-to-checkout-button:hover {
    background-color: #e6bf00;
    cursor: pointer;
}

#shopping-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
    font-size: 28px;
}

#price-paragraph-in-shopping-cart-div {
    display: flex;
    justify-content: end;
    width: 100%;
    font-size: 14px;
    margin-top: 4px;
    height: 20px;
    color: #565959;
}

.cart-item-image-section {
    width: 180px;
    height: 230px;
    padding-right: 12px;
    margin-left: 12px;
}

.cart-item-image {
    width: 180px;
    height: auto;
    max-height: 230px;
}

.cart-item-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.cart-item-header {
    font-size: 18px;
}

.cart-item-buttons-div {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100px;
    height: 25px;
    margin-bottom: 5px;
}

.quantity-dropdown {
    width: 78px;
    height: 29px;
    border-radius: 8px;
    background-color: #F0F2F2;
}

.separator-between-quantity-delete-buttons {
    width: 0;
    height: 14px;
    border-style: solid;
    border-color: #DDDDDD;
    border-left-width: 1px;
    margin: 0 13px;
}

.delete-cart-item-button {
    width: auto;
    color: #017185;
}

.delete-cart-item-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.cart-item-price-div {
    display: flex;
    justify-content: right;
    width: 180px;
    height: 100%;
    align-self: last baseline;
}

.cart-item-price-paragraph {
    font-size: 18px;
    font-weight: 700;
    color: #0f1111;
}