#product-index-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 2050px;
    background-color: #E3E6E6;
}

#items-block {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 240px;
    max-width: 1500px;
    font-size: 13px !important;
    line-height: 19px !important;
    padding: 0 10px 0;
    align-self: center;
}

.product-item-div {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}

.product-item-link {
    width: 350px;
    height: 420px;
    margin: 10px 0;
    color: inherit;
    text-decoration: none;
}

#item-image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}

.product-name-header-index {
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}

.bottom-index-item-section {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 80px;
    padding: 20px;
}

.price-block-index-page {
    position: absolute;
    margin-top: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 4px;
}

.out-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 260px;
}

#carousel-block {
    position: relative;
    display: flex;
    justify-content: center;
}