.nav-bar {
    height: 60px;
    background-color: #131921;
    display: flex;
    position: static;
    justify-content: space-between;
    float: none;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    height: 60px;
}

.nav-left {
    width: 313px;
    height: 60px;
}

.logo {
    margin: 17px 20px;
    width: 100px;
    height: auto;
}

#nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}

#nav-bar-search-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-area {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 38px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#search-button {
    width: 45px;
    height: 40px;
    cursor: pointer;
    background-color: #FEBD68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

#search-button:hover {
    background-color: #ffa837;
}

.search-icon {
    font-size: 22px;
}